__pycache__/
*.pyc
.DS_Store
.venv/
.env
*.egg-info/
dist/
build/
.claude/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
*.swp
*.swo
word.xlsx
漢字検索V2.xlsm
*.xlsx
*.xlsm
KanjiKensaku.xls
